@import url("variables.css");

.main_window * {
  -gtk-outline-radius: 0;
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  background-image: none;
  box-shadow: none;
  border-width: 0px;
  border-style: none;
  margin: 0px 0px 0px 0px;
  outline-style: dashed;
  outline-offset: 0px;
  outline-width: 0px;
  background-color: transparent;
  transition: 0.2s;
  min-height: 0px;
  min-width: 0px;
  border-radius: 0;
  border: none;
  padding: 0;
  font-family: "Open Sans", monospace, "Times New Roman", Times, serif;
}

.main_window decoration {
  /* REQUIRES TO RESIZE WINDOW */
  margin: 5px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

*:active {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
}

.main_window entry,
textview {
  min-height: 0px;
  min-width: 0px;
  border-radius: 0;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  caret-color: @text-color;
  color: @text-color;
}

.main_window entry * {
  background-color: transparent;
}

.main_window button {
  background-image: none;
  border: none;
  min-height: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  text-decoration: none;
}
.main_window button:hover {
  text-decoration: none;
  box-shadow: none;
  outline: none;
}

.main_window tooltip {
  background-color: @bg-color;
  border: 1px solid @white50;
}

.main_window,
#Header {
  background-color: @bg-color;
}

#Header {
  padding: 10px;
  border-bottom: 1px solid #31353b;
}

.text_secondary {
  color: @text-secondary-color;
}

button.window_button {
  color: @text-color;
  border-radius: 50%;
  box-shadow: none;
  padding: 7px;
  border: none;
}

label.text,
.main_window label {
  color: @text-color;
}

#WindowExitBtn {
  background-color: @color-error70;
}

#WindowHideBtn {
  background-color: @color-warning70;
}

#WindowExpandBtn {
  background-color: @color-success70;
}

#WindowExitBtn:hover {
  background-color: @color-error;
}

#WindowHideBtn:hover {
  background-color: @color-warning;
}

#WindowExpandBtn:hover {
  background-color: @color-success;
}

entry.search_input {
  color: @text-color;
  padding: 15px 10px 15px 0px;
  border-radius: 3px;
  font-size: 16px;
  background-color: @white10;
}

entry.search_input:focus {
  background-color: @white20;
}
entry.search_input image.left {
  background: transparent;
  color: transparent;
}
entry.search_input image.right {
  background: transparent;
  color: transparent;
}

#AppTabs {
  color: @text-color;
  padding: 0;
}

#AppTabs tab {
  color: @text-color;
  border: none;
  box-shadow: none;
  outline: none;
  margin: 0;
  background-color: @black30;
}

#AppTabs tab:checked {
  background-color: @white5;
}

#Logo {
  margin-bottom: 20px;
}

/*  LINKS   */

#LinkBox {
  margin-top: 30px;
}

button.Link {
  transition: 0.1s;
  color: @white40;
  font-size: 13px;
}

button.Link:focus {
  color: @text-secondary-color;
}

#RegisterLink {
  border-top: 20px;
  padding-right: 10px;
  border-right: 1px solid @text-color;
}

#PasswordLink {
  padding-left: 9px;
}

#RegisterLink:hover,
#PasswordLink:hover {
  color: @text-secondary-color;
}

/*  LOGIN BUTTONS   */

button.LoginButton {
  color: @text-color;
  font-size: 15px;
  background-color: @white10;
  border-radius: 15px;
  padding: 5px 15px;
}

button.LoginButton:focus,
button.LoginButton:hover {
  background-color: @white15;
}

/*  INPUT FIELDS   */

entry.AuthInput {
  color: @text-color;
  padding: 5px 15px;
  border: solid @white20;
  border-width: 2px;
  border-radius: 20px;
  background-color: @white5;
}

entry.AuthInput:focus {
  background-color: @white15;
  border-radius: 10px;
}

/*  UserMessageLabel    */

label.UserSuccessLabel {
  padding-top: 5px;
  color: @color-success70;
}

label.UserErrorLabel {
  padding-left: 10px;
  color: @color-error50;
  opacity: 0.9;
}

#BackButtonBox {
  margin: 10px 0px 0 10px;
  color: @white50;
}

#BackButton,
#BackButtonReset {
  margin-left: 10px;
  color: @white50;
}

#BackButton:hover,
#BackButton:focus,
#BackButtonReset:hover,
#BackButtonReset:focus {
  color: white;
}

#ResetPasswordButton {
  margin: 15px 0;
}

label.text_btn {
  color: @white60;
}

label.shortcut_key {
  background-color: @white10;
  border-radius: 5px;
  padding: 10px;
}

.right_sep_border {
  border-left: 1px solid #31353b;
}

.settings_content_pad {
  padding: 25px 30px 25px 10px;
}

.ChangeThemeLight {
  margin-left: 20px;
  background-color: @white50;
}

.ChangeThemeDark {
  margin-left: 20px;
  background-color: @black50;
}

.ChangeThemeAutumn {
  margin-left: 20px;
  background-color: @a-bg-color;
}

.ShowAllUsers {
  margin-left: 15px;
}

#ChatsSideBar {
  border-right: solid #31353b 1px;
}

/*CHAT WINDOW  */

.ChatBox {
  padding: 10px 10px;
  border-bottom: solid #31353b 1px;
}

label.ChatName {
  color: #e5e5e5;
  font-size: 18px;
  padding-left: 15px;
  padding-bottom: 5px;
}

label.ChatLastMessage {
  color: @text-secondary-color;
  font-size: 16px;
  padding-left: 15px;
}

.ChatInfoBox {
  padding: 0 0px 0px 0px;
  border-left: solid #31353b 1px;
}

.ChatInfoName {
  margin-top: 10px;
  font-size: 24px;
}

label.ChatInfoBio {
  margin: 5px 0px 10px;
  font-size: 16px;
  color: @text-secondary-color;
}

.ChatInfoMember {
  padding-bottom: 20px;
}

.ChatInfoMembersBox {
  margin-top: 45px;
  padding-top: 20px;
  padding-left: 20px;
  border-top: solid #31353b 1px;

}

.ChatInfoMemberLabel {
  padding-left: 12px;
  font-size: 16px;
}

.ChatInfoBox {
  padding-top: 50px;
  min-width: 280px;
}

.ChatInfoSecLabel {
  font-size: 16px;
  color: @white60;
}

.ChatInfoMembersLabel {
  font-weight: 500;
  font-size: 18px;
  padding-bottom: 15px;
}

.Message {
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.MessageBody {
  border-radius: 3px;
}

.MessageBox {
  padding: 20px 0;
}

button.run_button {
  padding: 8px;
  border-radius: 3px 0px 5px 0px;
}

.MyMessage {
  background-color: @msg-color;
}

.EnemyMessage {
  background-color: #2c3636;
}

button.run_button.configured {
  background-color: @color-success;
}
button.run_button.not_configured {
  background-color: @color-warning;
}

.Unconfirmed {
  background-color: #2c3036;
}

.MessageText {
  color: #e5e5e5;
  padding: 12px 24px 12px 24px;
}

.message_input_container {
  padding: 0 10px;
  padding-right: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: @white10;
}

.entry_container {
  padding: 15px 15px;
  border-radius: 3px;
  background-color: @white10;
}

.entry_container label {
  font-size: 18px;
  color: @text-secondary-color;
}

entry.settings_user_input {
  font-size: 16px;
  border-bottom: 1px solid @white5;
  padding-bottom: 3px;
}

button.btn_pretty {
  padding: 10px 50px;
  border-radius: 3px;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}
button.btn_add {
  padding: 5px 10px;
  border-radius: 50px;
  background-color: @white10;
}

#InputMessage {
  padding: 15px 0;
  font-size: 16px;
  font-weight: 100;
  margin: 10px;
}
#InputMessage text {
  color: @text_light;
}

#InputMessage text selection {
  background-color: @black30;
}

#SelectLanguage button {
  font-weight: normal;
  color: @text_light;
  padding: 0 5px;
}

#SelectLanguage window.popup {
  font-weight: normal;
  border-radius: 3px;
  padding: 10px;
  background-color: @bg-color;
  color: @text-color;
}
#SelectLanguage window.popup > * {
  font-weight: normal;
  padding: 10px;
  color: @text-color;
}

#SettingsList button:hover,
#SettingsList button.active {
  background-color: @white5;
}

#ConfigGrid entry {
  background-color: @white10;
  padding: 0 10px;
}

button.theme_button {
  border: 1px solid @text-secondary-color;
}

button.theme_button.theme_Default {
  background-color: #1b2127;
}
button.theme_button.theme_Default label {
  color: #ffffff;
}

button.theme_button.theme_Dark {
  background-color: #1b2127;
}
button.theme_button.theme_Dark label {
  color: #ffffff;
}

button.theme_button.theme_Light {
  background-color: #d1e4eb;
}
button.theme_button.theme_Light label {
  color: #305969;
}

button.theme_button.theme_Autumn {
  background-color: #945528;
}
button.theme_button.theme_Autumn label {
  color: #ffffff;
}

button.button_danger {
  background-color: @color-error;
}
button.button_danger label {
  color: @color-error-text;
}
button.button_success {
  background-color: @color-success;
}
button.button_success label {
  color: @color-success-text;
}

label.settings_cache_title {
  font-size: 14px;
  color: @text-secondary-color;
}
#LabelCacheSize {
  font-size: 20px;
}

popover.popup_pretty * {
  background-color: @bg-color;
  border-radius: 5px;
}

.input_emulator_event_box {
  border-bottom: 1px solid #31353b;
}

.input_emulator {
  margin: 11px 7px 11px 11px;
  padding: 15px;
  border-radius: 7px;
  background-color: @white10;
}

.input_emulator > label {
    color: @text-secondary-color;
    font-size: 16px;
}
